@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  font-family: "Thasadith", sans-serif;
  color: $primary-color;
}

a {
  color: darken($primary-color, 15);
  text-decoration: none;
}

body {
  background: $bgImg;
  background-attachment: fixed;
  background-size: cover;
}
